.content
{
    min-height: 700px;

    .container-fluid
    {
        padding:30px 10px;
        border-top: 1px solid #c9c9c9;
    }

}

.sr-only
{
    display: none !important;
}

.pagination {
    justify-content:start !important;
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 15px !important;
    flex-grow: 1;

    .page-link
    {

        color: #43aeae;
        font-weight: bold;
        padding-top: 10px !important;
        padding-bottom: 6px !important;

        &:hover
        {
            color: #43aeae !important;
        }
    }
}

.page-item.active .page-link {
    color: #fff;
    background-color: #5CA5A5 !important;
    border-color: #499797 !important;
}

.nitems-div
{
    span
    {
        display: inline-block;
        margin-right: 10px;
    }

    float: right;
}

.clear-div
{
    clear:both;
}